---
const Unggul = [
  {
    title: "Penanaman Aqidah",
    description:
      "orientasi utama pendidikan kami adalah mengutamakan penanaman aqidah, keimanan dan keyakinan kepada rukun rukun iman",
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/Gem%20stone/3D/gem_stone_3d.png",
  },
  {
    title: "Pembentukan Akhlakul Karimah",
    description:
      "Akhlak sangat penting bagi modal dasar kehidupan mereka, dengan akhlak yang baik membantu mereka bersosialisasi dimasa mendatang",
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/People%20hugging/3D/people_hugging_3d.png",
  },
  {
    title: "Menghafal Juz Amma",
    description:
      'Anak-anak dibimbing menghafal surat-surat juz 30. dari surat An-Nas - surat An Naba"',
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/Open%20book/3D/open_book_3d.png",
  },
  {
    title: "Pembiasaan Ibadah Harian",
    description:
      "Anak-anak didik dibiasakan dalam menjalankan Ibadah harian seperti, berdo'a setiap menjalani aktivitas, melaksanakan Ibadah wajib, dll",
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/Mosque/3D/mosque_3d.png",
  },
  {
    title: "Menghafal Hadist-Hadist Pendek",
    description:
      "anak anak menghafal hadist hadist pendek tentang akhlak dan ibadah",
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/Bookmark%20tabs/3D/bookmark_tabs_3d.png",
  },
  {
    title: "Menghafal doa-doa harian",
    description:
      "anak anak menghafal doa doa harian yang berhubungan dengan aktifitas mereka sehari hari seperti doa makan, doa tidur, doa kekamar mandi dll",
    icon: "https://fluentui-emoji.patrickjunod.dev/storage/emojis/Dizzy/3D/dizzy_3d.png",
  },
];
import Card from '@components/Card.svelte'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Card client:idle/>
  </body>
</html>
