---
import Count from "@components/countdown/count.svelte";
---

<h1
  class="mx-auto w-fit text-center bg-gradient-to-r from-green-300 via-yeloow-500 to-gray-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
>
  404: <span class="sm:block"> Kajian Belum Tersedia</span>
</h1>

<p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
  Mohon maaf, kajian di wilayah Anda belum tersedia dalam database kami. Sebagai
  pelipur lara, nikmati countdown spesial kami menuju bulan Ramadhan yang penuh
  berkah
</p>

<div class="mt-8 flex flex-wrap justify-center gap-4">
  <a
    class="border decoration-none text-base tracking-tight border-blue-200 inline-flex justify-between items-center py-2 px-3 text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 font-medium px-2.5 py-0.5 cursor-pointer bg-blue-100 text-blue-800 dark:bg-gray-700 dark:text-blue-400 font-medium rounded mb-2"
    href="/form"
  >
    Berkontribusi
  </a>
  <a
    class="border decoration-none text-base tracking-tight border-blue-200 inline-flex justify-between items-center py-2 px-3 text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 font-medium px-2.5 py-0.5 cursor-pointer bg-blue-100 text-blue-800 dark:bg-gray-700 dark:text-blue-400 font-medium rounded mb-2"
    href="/about"
  >
    Tentang Kami
  </a>
</div>
<Count client:visible />
